# Python Programming Lang

# 27/Apr/2024

# Write a Print Statement ?

In [ ]:
print('Hello World')

this is commentd
cell of 
jupyter notebook

# Syntax

In [ ]:
print('NSE Mumbai')  #  Line comment starts     print('BSE Mumbai')
# print('NSE BSE India')  # full line commented

print('NSE # BSE # Mumbai') # hash within quotes, is treated as literal hash

In [ ]:
usd = "Dollar: $";   rupee = "Rupee: \u20b9"

print(usd, rupee)

In [ ]:
ms1 = 'nse mumbai is 
in India'

print(ms1)

In [ ]:
ms2 = ''' this is
bse mumbai
in india

'''
print(ms2)

In [ ]:
print('hello " world  ')

In [ ]:
ms1 = 'hello'

'''
line comment 1
line comment 2
'''
print(ms1)

In [ ]:
10

In [ ]:
'hello'

In [ ]:
10
20
30

In [ ]:
ms1 = 'NSE'
10+10+20
print(ms1)

In [ ]:
ms1 = 'NSE'
print(10+20+30)
print(ms1)

Variable Rules

In [ ]:
temp = 20
Temp = 21
print(temp, Temp)  #  case sensitive

In [ ]:
91exchange = 'NSE'  # error starting with num

In [ ]:
exchange@NSE = 'Mumbai'  # error no special char

In [ ]:
exchange_NSE = 'MUmbai' # _ ok

In [ ]:
exchange_91_NSE = 'Mumbai'  # num inbetween is ok

In [ ]:
if = 'hello'  #  lang keyword cannot be var name

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
#   print is NOT a language keyword. It is a Variable referring to a builtin function.

Indentation

In [ ]:
sensor = 1

if sensor == 0:
    print('Sensor goes OFF')
    print('Motor goes OFF')
else:
        print('Sensor goes ON')
        print('Motor goes ON')
        
print('Done')

In [ ]:
sensor = 1

if sensor == 0:
    print('Sensor goes OFF')
      print('Motor goes OFF')  #error indentation
else:
        print('Sensor goes ON')
        print('Motor goes ON')
        
print('Done')

# Variable

In [ ]:
m1 = 23
print(type(m1))
print(id(m1))

In [ ]:
m1 = 23
m2 = 23
print(id(m1))
print(id(m2))

In [ ]:
m1 = 2300
m2 = 2300
print(id(m1))
print(id(m2))

In [ ]:
# -5 to 256 are prefixed in memory

In [ ]:
m1 = m2 = 2300
print(id(m1))
print(id(m2))

In [ ]:
print('hello')

In [ ]:
print = 20

In [ ]:
print('hello')

In [ ]:
del print

In [ ]:
print('hello world')

In [ ]:
type(print)

In [ ]:
type(20)

In [ ]:
print(type(20))

In [ ]:
#  python is dynamically typed langauge

In [ ]:
# in python, there is no contract bn the variable and the object it is viewing currently

In [ ]:
myprint = print

In [ ]:
myprint('hello world')

In [ ]:
del print

In [ ]:
myprint('data science')

In [ ]:
a = b = c= 2000
print(a,b,c)
print(id(a), id(b), id(c))

In [ ]:
var0, var1, var2 = 2345, 'Hello', [22,44,55]  #  positional mapping
print(var0, var1, var2)

keyboard interface

In [ ]:
ms1 = input('enter course name: ')
print(type(ms1))
print(ms1)

In [ ]:
r = input('enter marks: ')
print(type(r))
print(r)
print(r+10)

In [ ]:
r = input('enter marks: ')
print(type(r))
print(r)

r1 = int(r)
print(r1+10)

In [ ]:
int("200")

In [ ]:
int('hello')

In [ ]:
isinstance(20,int)

In [ ]:
isinstance(20,str)

In [ ]:
isinstance('hello',(str,list) )

In [ ]:
help(isinstance)

# Operators

In [ ]:
10+20

In [ ]:
10-20

In [ ]:
10*20

In [ ]:
30/13

In [ ]:
30//13

In [ ]:
30%13

In [ ]:
2**3  #  2 to the power of 3. exponential operator

In [ ]:
bool(5)

In [ ]:
bool(0)

In [ ]:
bool('True')

In [ ]:
bool('False')

In [ ]:
bool('')

In [ ]:
bool([0])

In [ ]:
bool([])

In [ ]:
not(True)

In [ ]:
not(False)

In [ ]:
print(type(True))

In [ ]:
print(type(False))

In [ ]:
print(dir(int))

In [ ]:
print(dir(str))

In [ ]:
help(str.split)

In [ ]:
print(dir(keyword))

In [ ]:
dir('hello')

In [ ]:
def calci(n0,n1):
    s = n0 + n1
    p = n0 * n1
    
    return s,p

In [ ]:
s1,p1 = calci(10,20)
print(s1,p1)

In [ ]:
def mf1():
    a = 20
    return a

a1 =mf1()
print(a1)

In [ ]:
def mf1():
    a = 20
    print(a)
    #return a

a1 =mf1()
print(a1)

In [ ]:
print(type(None))

In [ ]:
def tempcheck(temp1):
    if temp1 > 99:
        return 'Hot'
    elif temp1 < 60:
        return 'Cold'
    else:
        return 'Normal'

In [ ]:
t1 = float(input('Enter temperature: '))
feel = tempcheck(t1)
print(t1, feel)

In [ ]:
def isTrouble(talking, hour):
    if talking and (hour >= 20 or hour <= 7):
        return True
    else:
        return False

In [ ]:
print(isTrouble(True,19))
print(isTrouble(True,20))
print(isTrouble(True,21))
print(isTrouble(True,6))
print(isTrouble(True,7))
print(isTrouble(True,8))


print(isTrouble(False,21))
print(isTrouble(False,6))

# Strings

In [ ]:
ms1 = 'Hello World'
print(type(ms1))
print(len(ms1))
print(ms1)

In [ ]:
ms1[0]

In [ ]:
ms1[0] = 'J'

In [ ]:
ms2 = 'abcdefghijkl'
print(ms2[:])
print(ms2[::-1])
print(ms2[::3])
print(ms2[2:7:2])
print(ms2[2:7:-1])
print(ms2[7:2:-1])

In [ ]:
'hello' * 'world'

In [ ]:
'hello' * 3

In [ ]:
'good' in 'this is a good book'  #  in checks for presence,  not in checks for absense

In [ ]:
'good' not in 'this is a good book'

In [ ]:
'replace' in dir(str)

In [ ]:
print(dir(str))

In [ ]:
ms1 = 'king ring SING'
ns1 = ms1.replace('ng', 'ms')
print(ns1)
print(ms1)

In [ ]:
ms1 = 'king ring SING'
print(id(ms1))
ms1 = ms1.replace('ng', 'ms')
print(id(ms1))
print(ms1)

In [ ]:
ms1 = 'king ring SING'
ms1.replace('g','*').replace('G','$')

In [ ]:
ms1 = 'king ring SING'

ms1.replace('ng', 'ms', 1)

In [ ]:
ms1 = 'National Exchange'

In [ ]:
ms1.find('a')

In [ ]:
ms1.rfind('a')

In [ ]:
ms1.find('a',3)

In [ ]:
ms1.find('a',3,5)

In [ ]:
ms1[3:5]

In [ ]:
"2023".isdigit()

In [ ]:
'apr2024'.isdigit()

In [ ]:
'apr2024'.isalpha()

In [ ]:
'apr2024'.isalnum()

String Split

In [ ]:
ms1 = 'World Health Org'

r = ms1.split()
print(type(r))
print(r)

In [ ]:
ms1 = 'World Health Org'

r = ms1.split(maxsplit=1)
print(type(r))
print(r)

In [ ]:
ms1 = 'World_Health_Org'

r = ms1.split('_')
print(type(r))
print(r)

In [ ]:
mlist1 = ['World', 'Health', 'Org']
delimiter='::'

newstring1 = delimiter.join(mlist1)
newstring1

In [ ]:
mlist1 = ['World', 'Health', 'Org']
'$$'.join(mlist1)

In [ ]:
mlist1 = ['World', 'Health', 'Org']
' '.join(mlist1)

In [ ]:
mlist1 = ['World', 'Health', 'Org']
'_'.join(mlist1)

In [ ]:
mlist1 = ['World', 'Health', 'Org']
''.join(mlist1)

In [ ]:
' '.join([1,2,3])

Formatted Print

In [ ]:
#  Average Math marks of 50 students is 98.76 in exam.

In [ ]:
sub = 'Eng'
num = 50
avg = 98.76

ns1 = "Average {} marks of {} students is {} in exam".format(sub, num,avg)
print(ns1)

In [ ]:
# unconstrained formatting
ns1 = "Average {} marks of {} students is {} in exam".format(num,sub,avg)
print(ns1)

In [ ]:
# datatype constraint
ns1 = "Average {:s} marks of {:d} students is {:f} in exam".format(num,sub,avg)
print(ns1)

In [ ]:
# datatype constraint
ns1 = "Average {:s} marks of {:d} students is {:.1f} in exam".format(sub, num,avg)
print(ns1)

In [ ]:
# datatype constraint plus replacement_index constraint
ns1 = "Average {1:s} marks of {0:d} students is {2:f} in exam".format(num,sub,avg)
print(ns1)

In [ ]:
help('FORMATTING')  #  format spec mini lang

In [ ]:
ns1 = 's{}e'.format('python')
print(ns1)

In [ ]:
ns1 = 's{:10}e'.format('python')
print(ns1)

In [ ]:
ns1 = 's{:>10}e'.format('python')  # right align
print(ns1)

In [ ]:
ns1 = 's{:<10}e'.format('python')  # left align
print(ns1)

In [ ]:
ns1 = 's{:^10}e'.format('python')  # centre align
print(ns1)

In [ ]:
ns1 = 's{:*^10}e'.format('pythonpython') # padding, alignment, width_of_char
print(ns1)

In [ ]:
ns1 = 's{:*^10}e'.format('python') # Padding, Alignment, Width_of_char
print(ns1)

In [ ]:
print('c:\tiger')

In [ ]:
print('c:\\tiger')

In [ ]:
print("c:\piger")

# Lists

In [ ]:
mylist1 = list('pythonworld')
print(type(mylist1))
print(len(mylist1))
print(mylist1)

In [ ]:
mylist1 = [10,20,30,40,50]
print(mylist1)
print(id(mylist1))
mylist1[0] = 999
print(mylist1)
print(id(mylist1))

In [ ]:
[1,2,3] + [4,5,6,'hello']

In [ ]:
[1,2,3] * 3

In [ ]:
mylist1 = list('pythonworld')
mylist1

In [ ]:
mylist1[::-2]

In [ ]:
'd' in mylist1

In [ ]:
'dd' in mylist1

In [ ]:
'dd' not in mylist1

In [ ]:
m34 = [
    [0,1,2,3],
    [4,5,6,7],
    [8,9,10,11]
]
print(m34)

In [ ]:
print(dir(list))

In [ ]:
mylist1 = [2,4,6,8,10]
print(mylist1)
a = mylist1.append('hello')
print(a)
print(mylist1)

In [ ]:
mylist1 = [1,2,3]
mylist2 =  [4,5,6]

mylist1.append(mylist2)
print(mylist1)

In [ ]:
mylist1 = [1,2,3]
mylist2 =  [4,5,6]

mylist1.extend(mylist2)
print(mylist1)

In [ ]:
mylist1 = [1,2,3]
mylist1.insert(0,'hello')
print(mylist1)

In [ ]:
mylist1 = [1,2,3]
mylist1.insert(-1,'hello')
print(mylist1)

In [ ]:
mylist1 = [1,2,3]
mylist1.insert(100,'hello')
print(mylist1)

In [ ]:
mylist1 = [1,2,3]
mylist1.insert(len(mylist1),'hello')
print(mylist1)

In [ ]:
mylist1 = list('dataanalysis')
mylist1.remove('a')
print(mylist1)

In [ ]:
mylist1 = list('dataanalysis')

while 'a' in mylist1:
    mylist1.remove('a')
    
print(mylist1)

In [ ]:
mylist1 = list('python')
print(mylist1)
mylist1.reverse()
print(mylist1)

In [ ]:
mylist1 = list('python')
print(mylist1)
mylist1[::-1]

In [ ]:
mylist1 = list('dataanalysis')
print(mylist1)
i = mylist1.index('y')
print(i)

In [ ]:
mylist1 = list('dataanalysis')
print(mylist1)
i = mylist1.index('z')
print(i)

In [ ]:
mylist1 = list('dataanalysis')
print(mylist1)
if 'z' in mylist1:
    i = mylist1.index('z')
    print(i)

In [ ]:
mylist1 = list('dataanalysis')
print(mylist1)
try:
    i = mylist1.index('z')
except Exception as eobj:
    print('some exception occurred')
    print(eobj)
    print(eobj.__class__)

In [ ]:
'hello'.__class__

In [ ]:
a = 20
raise ValueError('Hi, DSAI')
print(a)

In [ ]:
mylist1 = list('dataanalysis')
print(mylist1)
mylist1.count('a')

In [ ]:
mylist1 = [2,4,10,6,1,9]
print(max(mylist1))
print(min(mylist1))

In [ ]:
mylist1 = list('python')
print(mylist1)
print(max(mylist1))
print(min(mylist1))

In [ ]:
ord('y')

In [ ]:
ord('h')

In [ ]:
chr(65)

In [ ]:
ord('A')

In [ ]:
'\u20B9'

In [ ]:
mylist1 = [2,4,10,6,1,9]
sum(mylist1)/len(mylist1)

In [ ]:
print(dir(__builtins__))

SORT

In [ ]:
mylist1 = [20,10,'Hello', [22,33,44,55], 'Pythonworld', 2, 6]
print(mylist1)
mylist1.sort()

In [ ]:
20 > 30.45

In [ ]:
20 > 'a'

In [ ]:
mylist1 = [20,10, 2, 6]
print(mylist1)
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
mylist1 = list('python')
print(mylist1)
mylist1.sort(reverse=True)
print(mylist1)

In [ ]:
def sort_logic(obj):
    if isinstance(obj, int):
        return obj
    elif isinstance(obj, str):
        return len(obj)
    
    return 0

In [ ]:
mylist1 = [20,10,'Hello', [22,33,44,55], 'Pythonworld', 2, 6]
print(mylist1)
mylist1.sort(key=sort_logic)
print(mylist1)

In [ ]:
mylist1 = [10,20,30,40]
mylist2 = [10,20,30,40]
print(mylist1)
print(mylist2)
print(id(mylist1))
print(id(mylist2))

mylist1[0] = 999
print()

print(mylist1)
print(mylist2)

In [ ]:
mylist1 == mylist2

In [ ]:
mylist1 is mylist2

In [ ]:
mylist1 = [10,20,30,40]
mylist2 = mylist1
print(mylist1)
print(mylist2)
print(id(mylist1))
print(id(mylist2))

mylist1[0] = 999
print()

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [10,20,30,40]
mylist2 = mylist1.copy()
print(mylist1)
print(mylist2)
print(id(mylist1))
print(id(mylist2))

mylist1[0] = 999
print()

print(mylist1)
print(mylist2)

In [ ]:
mylist1 = [10,20,30,40, [666,777,888,999]]
mylist2 = mylist1.copy()
print(mylist1)
print(mylist2)
print(id(mylist1))
print(id(mylist2))

mylist1[0] = 234567
mylist1[-1][-1] = 2345
print()

print(mylist1)
print(mylist2)

In [ ]:
import copy

In [ ]:
mylist1 = [10,20,30,40, [666,777,888,999]]
mylist2 = copy.deepcopy(mylist1)
print(mylist1)
print(mylist2)
print(id(mylist1))
print(id(mylist2))

mylist1[0] = 234567
mylist1[-1][-1] = 2345
print()

print(mylist1)
print(mylist2)

# Tuple

In [ ]:
mt1 = (11,22,33,44,55)
print(len(mt1))
print(type(mt1))
mt1

In [ ]:
mt1[0]

In [ ]:
mt1[0] = 999

In [ ]:
mt1 = (100,)
print(type(mt1))
print(mt1)

In [ ]:
print(dir(tuple))

In [ ]:
mt1 = tuple('dataanalysis')

In [ ]:
mt1.index('a')

In [ ]:
mt1.count('a')

In [ ]:
mt1 = (111,222,333,444,555)
print(mt1)
print(id(mt1))
templist = list(mt1)
templist.append(666)
templist.append(777)

mt1 = tuple(templist)
print(mt1)
print(id(mt1))

# Dictionary

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 91:'India'}
print(type(md1))
print(len(md1))
md1

In [ ]:
md1[0] # error

In [ ]:
md1[91]

In [ ]:
md1['Bank']

In [ ]:
md1['Bank'] = 'Axis'

In [ ]:
md1['City'] = 'Blr'

In [ ]:
del md1['Branch']

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'Delhi', 'Bank':'Axis', 'City':'Delhi'}
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'Delhi', [110011, 110022]:'Delhi'}
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'Delhi', (110011, 110011):'Delhi'}
md1

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'Delhi', ([110011, 110022]):'Delhi'}
md1

In [ ]:
hash(91)

In [ ]:
hash('hello')

In [ ]:
print(dir(dict))

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
k = md1.keys()
print(type(k))
print(k)  ##   list-like

In [ ]:
k[0]

In [ ]:
list(k)

In [ ]:
for item in k:
    print(item)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(list(md1.keys()))

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(list(md1.values()))

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(list(md1.items()))

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
r = md1.get('Branch')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
r = md1.get('State')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
r = md1.get('State', 'Unknown')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
r = md1.get('Branch', 'Unknown')
print(r)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
p = md1.pop()
print(p)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)
p = md1.pop('Branch')
print(p)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)
p = md1.pop('State')
print(p)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)
p = md1.pop('State', 'Key_Not_Existing')
print(p)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

d = md1.setdefault('State')

print(d)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

d = md1.setdefault('State', 'Delhi')

print(d)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

d = md1.setdefault('Branch', 'Delhi')

print(d)
print(md1)

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}
print(md1)

md2 = {'Bank':'Axis', 'State':'Delhi'}
print(md2)

md1.update(md2)

print(md1)

In [ ]:
klist = ['Bank','Branch','City', 'State']
vlist = ['Axis','MGROAD', 'Blr']

z = zip(klist, vlist) # zip o/p is ITERATOR. one time readable
print(type(z))
print(z)
print(list(z))
print(list(z))

In [ ]:
klist = ['Bank','Branch','City', 'State']
vlist = ['Axis','MGROAD', 'Blr']

z = zip(klist, vlist) # zip o/p is ITERATOR. one time readable
print(type(z))
print(z)
kvlist = list(z)
print(kvlist)

md2 = dict(kvlist)
md2

In [ ]:
klist = ['Bank','Branch','City', 'State']
vlist = ['Axis','MGROAD', 'Blr']
md3 = dict(zip(klist,vlist))
md3

# SET

In [ ]:
ms1 = {}
print(type(ms1)) # this is a dict

In [ ]:
ms1 = set()  # create an empty set
print(type(ms1))
ms1

In [ ]:
ms1[0] = 'hello'

In [ ]:
ms1.add(20)
ms1.add(21)
ms1.add('hello')

In [ ]:
ms1

In [ ]:
ms1.pop()

In [ ]:
ms1 = set('pythondatascience')
ms1

In [ ]:
ms1 = {2,4,6,8,10,12}
ms2 = {1,3,5,7,9,11,4,6}

In [ ]:
ms1.union(ms2)

In [ ]:
ms1.intersection(ms2)

In [ ]:
ms1-ms2

In [ ]:
ms1.symmetric_difference(ms2)

# Decision Making

In [ ]:
age = 6

if age >= 18:
    result = 'Valid_Voter'
else:
    result = 'Invalid_Voter'
    
print(age,result)

In [ ]:
age = 6

result1 = 'Valid_Voter' if age >= 18 else 'Invalid_Voter'

print(age,result1)

In [ ]:
temp = 999

if temp >= 99:
    result = 'Hot'
else:
    if temp <= 60:
        result = 'Cold'
    else:
        result = 'Normal'
        
print(temp, result)

In [ ]:
temp = 999

result = 'Hot' if temp>=99 else 'Cold' if temp<=60 else 'Normal'

In [ ]:
age = 8

result ='SSC' if age>=80 else 'SC' if age>=60 else 'Norm' if age>=18 else 'Minor'
print(age,result)

Range

In [ ]:
r = range(10)
print(type(r))
print(r)
print(list(r))

In [ ]:
r = range(10,20)
print(list(r))

In [ ]:
r = range(10,20,2)
print(list(r))

In [ ]:
import sys

r = range(100000)
print(sys.getsizeof(r))
mylist1 = list(r)
print(sys.getsizeof(mylist1))
#print(mylist1)

In [ ]:
r = range(100000)

In [ ]:
r[0]

In [ ]:
r[-1]

In [ ]:
r[99999]

In [ ]:
r[9999999]

In [ ]:
mylist1[9999999]

# 28/Apr/2023

# Loops

In [ ]:
lcount = 10

while lcount <= 20:
    print(lcount, end=' ')
    lcount = lcount + 1
    
print('Done')
print('Done1')

In [ ]:
print(10,20,30,40, sep='::')

In [ ]:
for letter in "python":
    print(letter)

In [ ]:
print(dir(__builtins__))

In [ ]:
for item in [11,22,33]:
    print(item)

In [ ]:
for item in [11,22,33]:
    print(item, end=' ')

In [ ]:
print(10,20,30,40, sep=':', end=' ')
print(11,22,33,44)

In [ ]:
for item in (11,22,33,'Hello'):
    print(item)

In [ ]:
for num in range(10,20,2):
    print(num, end=' ')

In [ ]:
print(10,20,30,40, sep=':::')

dict looping

In [ ]:
md1 = {'Bank':'SBI', 'Branch':'MGROAD', 'City':'Delhi'}

In [ ]:
for k in md1.keys():
    print(k)

In [ ]:
for v in md1.values():
    print(v)

In [ ]:
for k in md1:
    print(k)

In [ ]:
for kv in md1.items():
    print(kv)

In [ ]:
for k,v in md1.items():  # on the fly unpacking of a tuple into 2 individual objs
    print(k,v)

In [ ]:
a,b = 10,20
print(a)
print(b)

In [ ]:
a = 10,20,'Hello'  ##  packed into a tuple
print(a)

In [ ]:
a,b = 10,20,30

In [ ]:
a = (10,20)
print(a)

In [ ]:
a,b = (10,20)  #  unpacking of a tuple
print(a,b)

In [ ]:
a,b = (10,20,30)

In [ ]:
shoplist = []

while True:
    item = input('Enter New Item: ')
    
    if item == 'endshopping':
        break
        
    shoplist.append(item)
    
print(shoplist)

In [ ]:
sqlist = []

for num in range(5,11):
    result = num**2
    sqlist.append(result)
    
print(sqlist)

In [ ]:
sqlist1 = [ num**2     for num in range(5,11) ]  # List Comprehension
print(sqlist1)

In [ ]:
evsqlist = []

for num in range(10,21):
    if num%2 == 0:
        result = num**2
        evsqlist.append(result)
        
print(evsqlist)

In [ ]:
evsqlist1 = [ (num,num**2)  for num in range(10,21)  if num%2==0 ]
print(evsqlist1)

In [ ]:
eo3list = []

for num in range(10,31):
    if num%3 == 0:
        if num%2 == 0:
            r = num**2
        else:
            r = num**3
        eo3list.append(  (num,r) )
        
print(eo3list)

In [ ]:
eo3list1 = [(num,num**2) if num%2==0 else (num,num**3) for num in range(10,31) if num%3 == 0]
print(eo3list1)

In [ ]:
eo3list2 = [n**2 if n%2==0 else n**3 for n in range(10,31) if n%3 == 0]
print(eo3list2)

#Grammer #1

final_list = [ <2. final_expression> <1. for loop> ]
control_flow:  1,2  1,2  1ends

final_list = [<3. final_expre> <1. loop> <2. gating_condition>]  
control_flow:  1,2t,3  1,2f  1,2f  1,2t,3  1ends

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']
uplist = []

for u in ulist:
    for p in plist:
        r = (u,p)
        uplist.append(r)
print(uplist)

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']
uplist1 = [ (u,p) for u in ulist  for p in plist]
print(uplist1)

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']
uplist = []

for u in ulist:
    if u != 'u2':
        for p in plist:
            r = (u,p)
            uplist.append(r)
print(uplist)

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']
uplist1 = [ (u,p) for u in ulist  if u!= 'u2' for p in plist]
print(uplist1)

In [ ]:
ulist = ['u1','u2','u3']
plist = ['p1','p2','p3']
uplist1 = [ (u,p) for u in ulist  if u!= 'u2' for p in plist if p!= 'p2']
print(uplist1)

In [ ]:
rlist = [ num%3 for num in range(10,30)]
rlist

In [ ]:
rlist = { num%3 for num in range(10,30)}  # set compre
rlist

In [ ]:
rlist = { num:num%3 for num in range(10,30)}  # dict compre
rlist

In [ ]:
#DIY:  Generator comprehension

# Functions

In [ ]:
def mf1(r0,r1):
    print(r0,r1)

In [ ]:
mf1()

In [ ]:
mf1(10)

In [ ]:
mf1(10,20)

In [ ]:
def mf2(r0,d0=111):
    print(r0)
    print(d0)

In [ ]:
mf2()

In [ ]:
mf2(222)

In [ ]:
mf2(444,555)

In [ ]:
def mf3(d0=111, r0):
    print(r0,d0)

In [ ]:
#RULE_1:  While defining a function, the required params, should be
# specified before default params.

In [ ]:
def mf4(r0,r1):
    print(r0,r1)

In [ ]:
mf4(10,20) # python does positional mapping

In [ ]:
mf4(r1=111, r0=222)  #paramater-keyword mapping

In [ ]:
mf4(111,r1=222)

In [ ]:
mf4(r0=333, 444)

In [ ]:
#RULE_2: While calling a function, positionally mapped values 
# should be specified before parameter-keyword mapped values

In [ ]:
def mf5(p1,p2,p3,p4,p5):
    print(p1,p2,p3,p4,p5)
    
mf5(10,20,30,40,50)
mf5(p1=11,p2=22,p3=33,p4=44,p5=55)

In [ ]:
def mf6(p1,p2,/,p3,p4,p5):
    print(p1,p2,p3,p4,p5)
    
mf6(10,20,30,40,50)
mf6(p1=11,p2=22,p3=33,p4=44,p5=55)

#RULE: Parameter before / must be passed only in positional style

In [ ]:
def mf7(p1,p2,*,p3,p4,p5):
    print(p1,p2,p3,p4,p5)

mf7(p1=11,p2=22,p3=33,p4=44,p5=55)
mf7(10,20,p3=30,p4=40,p5=50)
mf7(10,20,30,40,50)


#RULE: Parameter after * must be passed only in parameter-keyword style

In [ ]:
def mf8(p1,p2,/,p3,*,p4,p5):
    print(p1,p2,p3,p4,p5)


mf8(10,20,30,p4=40,p5=50)
mf8(10,20,p3=30,p4=40,p5=50)
# p3 can be passed in any style
# p1,p2 only in positional style
# p4,p5 only in param-keyword style

# mf8(10,p2=20,p3=30,p4=40,p5=50) #err
# mf8(10,20,30,40,p5=50) #err

Variable Length Params

In [ ]:
def mf9(args):
    print(args)
mf9(10)
mf9(10,20,30,40,50,'Hello')

In [ ]:
def mf10(*args):
    print(args)

mf10(10,20,30,40,50,'Hello')

In [ ]:
def mf11(p0,p1,*args):
    print(p0,p1)
    print(args)
    
mf11(10,20,30,40,50,'hello')

In [ ]:
def mf12(*args, p0,p1):
    print(p0,p1)
    print(args)
    
mf12(10,20,30,40,50,'hello')

In [ ]:
mf12(10,20,30,40,50,'hello', p1=111, p0=100)

In [ ]:
def mf13(kwargs):
    print(kwargs)
mf13(a=10,b=11)

In [ ]:
def mf14(c,**kwargs):
    print(c)
    print(kwargs)
mf14(a=10,b=11,c=222)  
mf14(999,a=10,b=11)

In [ ]:
def mf15(r0,r1,*args, d2=222, d3=333, **kwargs):
    print(r0,r1)
    print(d2,d3)
    print(args)
    print(kwargs)

In [ ]:
mf15(10,20,30,40,'Hello',z=555,d3=2323)

In [ ]:
# var tuple can be populated only in positional style
# var dict can be populated only param-keyword style
# var dict has to be specified last in the function signature.

# Lambda

In [ ]:
def isEven1(num):
    return num%2==0

print(isEven1(20))
print(isEven1(21))

In [ ]:
isEven2 = lambda num : num%2 == 0

print(isEven2(200))
print(isEven2(211))

In [ ]:
print(type(isEven1))

In [ ]:
print(type(isEven2))

In [ ]:
def explist1(num):
    elist = []
    
    for exp in range(1,4):
        elist.append(num**exp)
    
    return elist

explist1(5)

In [ ]:
explist2 = lambda num :  [ num**exp for exp in range(1,4)]
r = explist2(4)
print(r)

In [ ]:
kmlist = [1,2,3,4,5]

km2m = lambda k: k*1000   ##  named function object.

mobj = map(km2m, kmlist) # map o/p is an ITERATOR.
print(list(mobj))

In [ ]:
mlist = [1,2,3,4,5]

mobj = map(lambda m: m*100, mlist) # anonymous, inline function obj
print(list(mobj))

In [ ]:
klist = ['Bank','Branch','City']
vlist = ['SBI','MGROAD','Delhi']

mobj = map(lambda k,v : (k,v), klist, vlist)
kvlist = list(mobj)

print(kvlist)
print(kvlist)

filter

In [ ]:
numlist = [2,4,1,3,7,11,23,56,85,78,67,97]

fobj = filter(lambda num:num%2==0, numlist)
print(list(fobj))

Reduce

In [ ]:
from functools import reduce

In [ ]:
numlist = [2,4,6,8,10]

robj = reduce(lambda x,y: x+y, numlist)
print(robj)

In [ ]:
numlist = [2,4,16,8,10]

robj = reduce(lambda x,y: x*y, numlist)
print(robj)

In [ ]:
numlist = [2,4,16,8,10]

robj = reduce(lambda x,y: x if x>y else y, numlist)
print(robj)

In [ ]:
# DIY: list.sort use lambda..

# Variable Scope

In [ ]:
g1 = 111

def mf99(v2):
    global g1
    g1 = 999
    v3 = 333
    print("debug2", g1,v2,v3) # v2,v3 are local vars.
    print(locals())

print("debug1", g1)
mf99(222)
print("debug3", g1)

In [ ]:
globals()

In [ ]:
g1 = 111

def outer():
    g1 = 999   
    print("debug2", g1)

    def inner():
        nonlocal g1
        g1 = 888
        print("debug3", g1)
    
    inner()
    print("debug22", g1)
        
print("debug1", g1)
outer()
print("debug4", g1)

# Recursion

In [ ]:
def fact(n):
    if n <= 0:
        return 1
    
    return n * fact(n-1)

In [ ]:
fact(5)

In [ ]:
fact(6)

In [ ]:
# DIY: fibonaci series using factorial.