<table align="center" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab  <br>(Session 1 & 2)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Using print()](#print)**
2. **[Data types](#types)**
3. **[Arithmetic Operations](#arithmetic)**
4. **[Boolean Operations](#boolean)**
5. **[Concatenation](#concatenation)**
6. **[Pseudo Codes](#pseudo)**
7. **[String](#string)**
8. **[List](#list)**
9. **[Tuple](#tuple)**
10. **[Set](#set)**
11. **[Dictionary](#dict)**
12. **[Conditional Statements](#cond)**
13. **[Python Flow Control](#flow_control)**
14. **[List Comprehension](#lc)**
15. **[User-Define Function](#User_Define)**
16. **[Lambda Functions](#Lambda_Functions)**
    - 16.1 **[Map Function](#Map_Function)**
    - 16.2 **[Filter Function](#Filter_Function)**
    - 16.3 **[Reduce Function](#Reduce_Function)**

### Let's begin with some hands-on practice exercises

<a id="print"> </a>
## 1. Using print()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. To display a statement. For example, "Hello, How are you?" </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
print("Hello, How are you?")

Hello, How are you?

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write the alphabets 'A', 'B', 'C' on new lines using a single print function. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
print("A", "B", "C", sep="\n")

A
B
C

<a id="types"> </a>
## 2. Data types

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a string, a numeric and boolean variables by assigning variable names. Further, check their datatype. For numeric variable check for whole numbers and numbers with decimal point.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Declare a string variable and check its data type.**

In [ ]:
# type your code here
my_str = "My String"

type(my_str)

str

**Declare a numeric variable and check its data type.** <br>
i. An interger variable.

In [ ]:
# type your code here
my_int = 120

type(my_int)

int

ii. A fractional variable

In [ ]:
# type your code here
my_float = 123.23

type(my_float)

float

**Declare a boolean variable and check its data type.**

In [ ]:
# type your code here
my_boolean = True

type(my_boolean)

bool

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Create a numberic variable and convert it to a string.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
my_int = 123
my_str = str(my_int)

print(my_str, "is type of", type(my_str))

123 is type of <class 'str'>

<a id="arithmetic"></a>
## 3. Arithmetic Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Evaluate 145 into 354 minus 1345 divided by 45 plus (462 plus 23) divided by 3. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
answer = 145 - (((354 - 1345) / 45) + (462 + 23) / 3)

print(answer)

5.355555555555554

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Evaluate  and print the results of the following <br>
                        <ol type = '1'>
                            <li> 1353 plus 234 </li>
                            <li> 2355 minus 346 </li>
                            <li> 234 times 457 </li>
                            <li> 25 divided by 6 </li>
                            <li> Obtain remainder of  25 divided by 6 </li>
                            <li> 33 raised to 4 </li>
                            <li> 45 divided by 6  (floor division)
                            <li> 2 raised to 10</li></ol>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
print(1353 + 234)
print(2355 - 346)
print(234 * 457)
print(25/6)
print(25%6)
print(33**4)
print(45//6)
print(2**10)

1587
2009
106938
4.166666666666667
1
1185921
7
1024

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Calculate BMI of a person (take input for height and weight from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
height = float(input("Enter your height in feet: "))
weight = float(input("Enter your weight in kilograms: "))

height_in_meters = height * 0.3048

bmi = weight / (height_in_meters ** 2)

print("Your BMI is:", bmi)

Enter your height in feet: 5.63
Enter your weight in kilograms: 54
Your BMI is: 18.33779210277109

<a id="boolean"></a>
## 4. Boolean Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
print((54+34) * 45 == (0.9*2432)/0.9)

False

<a id="concatenation"></a>
## 5. Concatenation

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Create two strings and concatenate them using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
string1 = "Hello"
string2 = " World"
print(string1 + string2)

Hello World

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Concatenate the variables 'num = 34 and 'string ='How old are you?' using '+' operator. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
num=34
string = 'How are you?'
print(str(num) + string)

34How are you?

<a id="pseudo"> </a>
## 6. Pseudo Codes

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Write a pseudo code to print table of 5 using 'for' loop.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
for i in range(1,11):
  print("5 X ", i, " = ", i*5)

5 X  1  =  5
5 X  2  =  10
5 X  3  =  15
5 X  4  =  20
5 X  5  =  25
5 X  6  =  30
5 X  7  =  35
5 X  8  =  40
5 X  9  =  45
5 X  10  =  50

<a id="string"></a>
## 7. String Operations

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Given the string 'Today is a sunny day.'
                        <ol > <li>  Write a code to get 'Today'  and 'sunny'. </li>
                             <li>  Obtain the last two letters. </li>
                             <li>  Write the statement backwards.</li>
                        </ol> </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
string = 'Today is a sunny day.'
print(string[0:5])
print(string[11:16])
print(string[::-1])

Today
sunny
.yad ynnus a si yadoT

<a id="list"> </a>
## 8. List

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Write a program to perform following list operations on the list given below:<br><br>
                        a. Check the length of mix_list_1<br>
                        b. Check the membership of '24' in mix_list_1<br>
                        c. Concatenate the mix_list_1 and mix_list_2<br>
                        d. Repeat the mix_list_2 three times </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform operations:**

mix_list_1 = ['Learn', 24, 'Blue', False, -8]

mix_list_2 = [4, 7, 'Summer']

**a. Check the length of mix_list_1**

In [ ]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
print(len(mix_list_1))

5

**b. Check the membership of '24' in mix_list_1**

In [ ]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
print(24 in mix_list_1)

True

**c. Concatenate the mix_list_1 and mix_list_2**

In [ ]:
# type your code here
mix_list_1 = ['Learn', 24, 'Blue', False, -8]
mix_list_2 = [4, 7, 'Summer']
print(mix_list_1 + mix_list_2)

['Learn', 24, 'Blue', False, -8, 4, 7, 'Summer']

**d. Repeat the mix_list_2 three times**

In [ ]:
# type your code here
my_list_2 = [4,7, "Summer"]
print(my_list_2 * 3)

[4, 7, 'Summer', 4, 7, 'Summer', 4, 7, 'Summer']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Write the program to multiply the two lists</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Lists to perform multiplication:**

num_list_1 = [1, 2, 3, 4]

num_list_2 = [0, 5, 2, 1]

In [ ]:
# type your code here
num_list1 = [1,2,3,4]
num_list2 = [0,5,2,1]

multi_list = []

for i in range(len(num_list1)):
  multi_list.append(num_list1[i]*num_list2[i])

print(multi_list)
# print(num_list)

[0, 10, 6, 4]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [ ]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[0])

Python

**b. Second last element**

In [ ]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[-2])

Data

**c. First three elements**

In [ ]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[:3])

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [ ]:
# type your code here
mix_list = ['Python', 1, 2, 3, 'Data', True]
print(mix_list[1::2])

[1, 3, True]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [ ]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
print(min(num_list))

-2

**b. Max(list)**

In [ ]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
print(max(num_list))

7

**c. Sort the elements (use sort() and sorted() function)**

In [ ]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]

num_list.sort()
print(num_list)

num_list = [4, 5, 7, -2, 0, 1]
print(sorted(num_list))

[-2, 0, 1, 4, 5, 7]
[-2, 0, 1, 4, 5, 7]

**d. Create a copy of a list**

In [ ]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
new_list = num_list.copy()
print(new_list)

[4, 5, 7, -2, 0, 1]

**e. Remove element '5' from the list**

In [ ]:
# type your code here
num_list = [4, 5, 7, -2, 0, 1]
num_list.remove(5)
print(num_list)

[4, 7, -2, 0, 1]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [ ]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append('Data')
print(languages_list)

**b. Add elements 'Excel' and 'Data' in the given list**

In [ ]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.extend(['Excel', 'Data'])
print(languages_list)

['R', 'Python', 'C', 'Java', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [ ]:
# type your code here
languages_list = ['R', 'Python', 'C', 'Java']
languages_list[2] = 'C++'
print(languages_list)

['R', 'Python', 'C++', 'Java']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. How many times 'Summer' is occuring in a given list?
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']

In [ ]:
# type your code here
seasons_list = ['Summer', 'Winter', 'Spring', 'Winter', 'Spring' ,'Summer', 'Spring', 'Summer', 'Winter', 'Summer', 'Spring']
seasons_list

['Summer',
 'Winter',
 'Spring',
 'Winter',
 'Spring',
 'Summer',
 'Spring',
 'Summer',
 'Winter',
 'Summer',
 'Spring']

<a id="tuple"> </a>
## 9. Tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [ ]:
# type your code here
num_tuple = (4, 4, 8)
len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [ ]:
# type your code here
mix_tuple = 'John', 5, -2
num_tuple + mix_tuple

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [ ]:
# type your code here
mix_tuple * 2

('John', 5, -2, 'John', 5, -2)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Add a new element '4' to the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

In [ ]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple + (4,)

(['a', 1, True], 2, 'Science', -5, 4)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>21. Replace the elements in the given tuple: <br><br>
                        a. Replace '2' with '3'<br>
                        b. Replace 'True' in first element with 'False'
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple below:**

mix_tuple = (['a', 1, True], 2, 'Science', -5)

**a. Replace '2' with '3'**

In [ ]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
list_1 = list(mix_tuple)
list_1[1] = 3
mix_tuple = tuple(list_1)
mix_tuple

(['a', 1, True], 3, 'Science', -5)

**b. Replace 'True' in first element of the tuple with 'False'**

In [ ]:
# type your code here
mix_tuple = (['a', 1, True], 2, 'Science', -5)
mix_tuple[0][2] = False

mix_tuple

(['a', 1, False], 2, 'Science', -5)

<a id="set"> </a>
## 10. Set

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>22. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [ ]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

In [ ]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.remove(3)
num_set

{1, 2, 4, 5, 6}

**c. Clear the set**

In [ ]:
# type your code here
num_set = {1, 2, 3, 4, 5, 6}
num_set.clear()
num_set

set()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>23. Create two sets of words from the given sentences and perform the following operations:<br><br>
                        a. Find the count of unique words in each of the sentence<br>
                        b. Find the common words in both the sentences<br>
                        c. Find the unique words in both the sentences
                       </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentences given below:**
    
sentence_1 = 'We shall analyse the data using python'

sentence_2 = 'Python for data science'

**Create set of words**

In [ ]:
# type your code here
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'

**a. Find the number of unique words in the sentences**

In [ ]:
# type your code here
sentence_1 = 'We shall analyse the data using python'
sentence_2 = 'Python for data science'

unique_words_2 = set(sentence_2.split()).union(set(sentence_1.split()))

print(f'Unique words in sentences: {len(unique_words_2)}')

Unique words in sentences: 10

**b. Find the common words in both the sentences**

In [ ]:
# type your code here
print("common words in sentences: ", set(sentence_1.split()).intersection(set(sentence_2.split())))

common words in sentences:  {'data'}

**c. Find the unique words in both the sentences**

In [ ]:
# type your code here
print("Unique words in both the sentences: ", set(sentence_2.split()).union(set(sentence_1.split())))

Unique words in both the sentences:  {'science', 'data', 'analyse', 'the', 'Python', 'for', 'python', 'shall', 'using', 'We'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>24. Write a program to perform following set operations:<br><br>
                        a. Union<br>
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [ ]:
# type your code here
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}
B = {3, 42, 51, 6, 7, 8, 54, 5}

print(A.union(B))

{1, 2, 3, 4, 5, 6, 7, 40, 71, 8, 42, 51, 54, 87}

**b. Intersection**

In [ ]:
# type your code here
print(A.intersection(B))

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [ ]:
# type your code here
print(A.difference(B))

{1, 2, 4, 71, 40, 87}

**d. Set of all the elements of set B that are not in set A**

In [ ]:
# type your code here
print(B.difference(A))

{8, 42, 51, 54}

**e. Symmetric difference**

In [ ]:
# type your code here
print(A.symmetric_difference(B))

{1, 2, 4, 71, 8, 40, 42, 51, 54, 87}

<a id="dict"> </a>
## 11. Dictionary

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>25. Provide solution for the following:<br><br>
                        a. Write a program to create a dictionary using given keys and values<br>
                                   Use the keys and values to create a dictionary<br>
                                   key = ['Weight','BMI','Age','Profession']<br>
                                   value = [67, 25, 27, 'CA']<br>
                        b.Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary<br>
                        c.Write a program to retrieve the keys/values of dictionary<br>
                        d.Write a program to get the value for 'Age' from the dictionary
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**a. Write a program to create a dictionary using given keys and values**

**Use the keys and values to create a dictionary**

key = ['Weight','BMI','Age','Profession']

value = [67, 25, 27, 'CA']

In [ ]:
# type your code here
key = ['Weight','BMI','Age','Profession']
value = [67, 25, 27, 'CA']

dictionary = dict(zip(key,value))
print(dictionary)

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA'}

**b. Use the dictionary created before and Write a code to add a key ('Height':154) to the dictionary**

In [ ]:
# type your code here

dictionary['Height'] = 154
print(dictionary)

{'Weight': 67, 'BMI': 25, 'Age': 27, 'Profession': 'CA', 'Height': 154}

**c. Write a program to retrieve the keys/values of dictionary**

In [ ]:
# type your code here
dict_keys = dictionary.keys()
print(dict_keys)

dict_keys(['Weight', 'BMI', 'Age', 'Profession', 'Height'])

**d. Write a program to get the value for 'Age' from the dictionary**

In [ ]:
# type your code here
print(dictionary['Age'])

27

<a id="cond"> </a>
## 12. Conditional Statements

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>26. Write a program to check whether a given number is multiple of 7 (use if statement)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
num_ip = int(input("Enter a number: "))
if num_ip % 7 == 0:
    print(num_ip, "is a multiple of 7")
else:
    print(num_ip, "is not a multiple of 7")

Enter a number: 32
32 is not a multiple of 7

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>27. Write a program to check whether a number is positive, negative or zero (use if-elif) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here
num_ip = int(input("Enter a number: "))
if num_ip > 0:
    print(num_ip, "is positive")
elif num_ip < 0:
    print(num_ip, "is negative")
else:
  print(num_ip, "is zero")

Enter a number: 34
34 is positive

<a id= "flow_control"> </a>
## 13. Python Flow Control

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>28. Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop. </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# type your code here
a, b = 0, 1
count = 0
while count < 10:
    print(a)
    c = a + b
    a = b
    b = c
    count += 1

0
1
1
2
3
5
8
13
21
34

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>29. Write a program to check whether a number is greater than the other using if statement (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# type your code here
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if num1 > num2:
    print(num1, "is greater than", num2)

Enter first number: 12
Enter second number: 32

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>30. Write a program to check whether a number is prime or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
num = int(input("Enter a number: "))
is_prime = True
if num > 2:
    for i in range(2, num):
        if (num % i) == 0:
            is_prime = False
            break
if is_prime:
    print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 43
43 is a prime number

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>31. Write a program to check whether two numbers are amicable or not (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# type your code here
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

def is_amicable(num1, num2):
  list1 = []
  list2 = []
  for i in range(1, num1):
    if num1 % i == 0:
      list1.append(i)
  for j in range(1, num2):
    if num2 % j == 0:
      list2.append(j)
  if sum(list1) == num2 and sum(list2) == num1:
    print(num1, "and", num2, "are amicable numbers")
  else:
    print(num1, "and", num2, "are not amicable numbers")

is_amicable(num1, num2)

Enter first number: 220
Enter second number: 284
220 and 284 are amicable numbers

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>32. Reverse string using a for loop (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# type your code here
string = input("Enter a string: ")
reversed_string = ""
for i in range(len(string)-1, -1, -1):
    reversed_string += string[i]
print("Reversed string:", reversed_string)

Enter a string: Hello World
Reversed string: dlroW olleH

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>33. Write a code to find the simple interest (take the input from user).</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# type your code here
p = float(input("Enter the principal amount: "))
r = float(input("Enter the rate of interest: "))
t = float(input("Enter the time period in years: "))

simple_interest = (p * r * t) / 100

print("Simple Interest:", simple_interest)

Enter the principal amount: 100000
Enter the rate of interest: 12.5
Enter the time period in years: 1
Simple Interest: 12500.0

<a id= "lc"> </a>
## 14. List Comprehension

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>34. Use list comprehension to find the used vowels in a given sentence and/or word (take the input from user). </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# type your code here
sentence = input("Enter a sentence: ")
vowels = [char for char in sentence if char in 'aeiouAEIOU']
print("Vowels in the sentence:", vowels)

Enter a sentence: Use List Comprehension
Vowels in the sentence: ['U', 'e', 'i', 'o', 'e', 'e', 'i', 'o']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>35. Create a dictionary and access it values using a condition on its key. The data is given below. Let the condidtion on the key is that it should be a even number.</b>
                </font>
            </div>
       </td>
    </tr>
</table>

<table>
<tr>
    <th>Key</th>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    <td>5</td>
</tr>
<tr>
    <th>Name</th>
    <td>Aman</td>
    <td>Mohit</td>
    <td>Guari</td>
    <td>Imran</td>
    <td>Roma</td
     </tr>
<tr>
    <th>Marks</th>
    <td>24</td>
    <td>25</td>
    <td>26</td>
    <td>24</td>
    <td>27</td>
   </tr>
</table>

In [10]:
# type your code here
keys = [1, 2, 3, 4, 5]
names = ['Aman', 'Mohit', 'Guari', 'Imran', 'Roma']
marks = [24, 25, 26, 24, 27]

result = {name: mark for key, name, mark in zip(keys, names, marks) if key % 2 == 0}
print(result)

{'Mohit': 25, 'Imran': 24}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>36. Use list comprehension to create a dictionary such that its keys are numbers from 1 to 10 and values are the corresponding to that key are its cube.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# type your code here
result = {i: i**3 for i in range(1, 11)}
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>37. Use list comprehension to extract numbers from a string </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [14]:
# type your code here
my_string = input("Enter a string: ")
numbers = [int(char) for char in my_string if char.isdigit()]
print("Numbers in the string:", numbers)

Enter a string: Total marks are 688
Numbers in the string: [6, 8, 8]

<a id='User_Define'></a>
## 15. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>38. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [16]:
# Write your code here
my_list = [15, 78, 10, 45, 89]

def swap_first_last(my_list):
    if len(my_list) >= 3:
        my_list[0], my_list[-1] = my_list[-1], my_list[0]
        return my_list
    else:
        return my_list[::-1]

print(swap_first_last(my_list))
print(swap_first_last([12,32]))

[89, 78, 10, 45, 15]
[32, 12]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>39. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [17]:
# Write your code here

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

num = int(input("Enter a number: "))
print("Factorial of", num, "is", factorial(num))

Enter a number: 32
Factorial of 32 is 263130836933693530167218012160000000

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>40. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [18]:
# Write your code here
my_list = [1,2,3,3,11,34,3,3,4,5]

unique_values = set(my_list)
print("Unique values:", unique_values)

Unique values: {1, 2, 3, 34, 4, 5, 11}

<a id='Lambda_Functions'></a>
## 16. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>41. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
# Write your code here
min_num = lambda x, y: x if x < y else y
print(min_num(34, 78))

34

<a id='Map_Function'></a>
### 16.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>42. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [20]:
# Write your code here

numbers = [ 74, 85, 14, 23 ]
result = list(map(lambda x: x % 5, numbers))
print(result)

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>43. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [21]:
# Write your code here
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]

result = list(map(lambda x, y: x + str(y), list1, list2))
print(result)

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 16.2 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>44. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [22]:
# Write your code here

arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']

result = list(filter(lambda x: x in arr1, arr2))
print(result)

['o', 'i', 't']

<a id='Reduce_Function'></a>
### 16.3 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>45. Determine the maximum of a given list using reduce function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [23]:
# Write your code here

my_list = [47,11,42,102,13]

from functools import reduce
result = reduce(lambda x, y: x if x > y else y, my_list)
print(result)

102