## Feature Selection
How to select the feature ?

* If a Feature is having All Unique values over all rows then drop it.
* If a Feature has Null Values more than 40% of population then drop the feature.
* If all the five point summary describes same values on all the quartiles (i.e standard deviation is zero) then drop the feature.
* 
* you can select the feature based upon the below items
> - P-value
> - R^2
> - b value
> Note: These are called Wrapper methods
* Embeded Method


Below are technique of feature selection
1. **Backward Elimination** 
2. **Forward Selection**
3. **Recursive Feature Elimination**

In [1]:
import pyforest

In [3]:
energy = pd.read_csv("../data-sets/energy_data.csv")

energy.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility
0,60,20,20.700000,44.700000,19.500000,45.590000,21.390000,41.95,20.566667,45.626667,...,43.290000,20.500000,52.790000,18.306667,47.590000,11.016667,756.533333,88.333333,8.833333,38.166667
1,60,0,21.290000,37.863333,19.390000,39.663333,21.790000,36.70,20.463333,37.526667,...,32.095000,22.000000,39.223333,19.600000,38.826667,8.350000,761.800000,70.000000,3.500000,40.000000
2,80,0,21.390000,35.790000,19.290000,37.700000,22.760000,34.29,21.323333,34.730000,...,29.200000,22.390000,37.290000,19.463333,35.500000,6.866667,762.333333,69.666667,3.000000,35.666667
3,40,0,19.033333,41.826667,18.533333,41.290000,18.100000,43.79,15.890000,47.530000,...,40.138889,19.594444,51.062778,15.100000,46.760000,5.133333,769.583333,92.000000,4.833333,23.166667
4,60,30,21.700000,46.633333,20.700000,45.900000,22.323333,44.79,21.000000,47.966667,...,45.200000,20.469444,53.189444,18.290000,51.863333,8.633333,757.566667,95.666667,6.000000,55.333333